.menu-navigation {
    opacity: 0;
    transition: visibility .5s, opacity .5s linear;
    display: none;
}

.menu-navigation__opened {
    visibility: visible;
    opacity: 1;
}

.menu-navigation__container {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 780px;
    background-color:  #202020;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .menu-navigation__container {
        width: 520px;
        height: 1024px;

    }
}

.menu-navigation__group {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    margin: 144px auto 0 auto;
    text-align: center;
    height: 591px;
}

@media screen and (min-width: 768px) {
    .menu-navigation__group {
        margin: 160px auto 0 auto;
        height: 782px;
    }
}



.menu-navigation__link {
    width: 300px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 24px;
}



.menu-navigation__link_active {
 text-decoration: underline;
}

.menu-navigation__close {
    background-image: url("../../images/Group.svg");
    width: 22px;
    height: 22px;
    background-position: center;
    background-color: transparent;
    outline:none;
    border: none;
    top: 19px;
    left: 277px;
    right: 0;
    position: absolute;
}

@media screen and (min-width: 768px) {
    .menu-navigation__close {
        top: 28px;
        left: 472px;
    }
}

.menu-navigation__link-style {
    text-align: center;
    margin: auto auto 0 auto;
    border-radius: 20px;
    background-color: #313131;
    width: 100px;
    height: 10px;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
}



@media screen and (min-width: 768px) {
    .menu-navigation__link-style {
        font-size: 18px;
        line-height: 28px;
        width: 100px;
        height: 8px;
    }
}
