.profile {
    min-width: 320px;
}

.profile__container {
    margin: 59px auto 40px auto;
    display: flex;
    flex-direction: column;
    max-width: 260px;
}

@media screen and (min-width: 768px) {
    .profile__container {
        max-width: 410px;
        margin-top: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .profile__container {
        margin-top: 74px;
        margin-bottom: 70px;
    }
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 76px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 2.6px;
}

.profile__box {
    display: flex;
    height: 30px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin-bottom: 10px;
    border-top: solid 1px #424242;
}

.profile__box:first-of-type {
    border-top: none;
}

.profile__box-style {
    height: 38px;
}


.profile__form {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .profile__form {
        margin-top: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .profile__form {
        margin-top: 41px;
    }
}

.profile__input {
    width: 120px;
    background-color: #202020;
    border: 0;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 13px;
    padding-top: 7px;
}

@media screen and (min-width: 768px) {
    .profile__input {
        width: 141px;
    }
}

.profile__input-name {
    width: 130px;
    margin: 0 0 0 0;
    padding: 5px 0 0 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .profile__input-name {
        width: 122px;
        font-size: 11px;
        line-height: 13px;
    }
}

.profile__input::placeholder {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
}

.profile__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background-color: #202020;
    border: 0;
    margin-top: 300px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .profile__subtitle {
        margin-top: 182px;
    }
}

@media screen and (min-width: 1024px) {
    .profile__subtitle {
        margin-top: 192px;
        font-size: 13px;
        line-height: 16px;
    }
}

.profile__exit {
    color: #EE3465;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

@media screen and (min-width: 1024px) {
    .profile__exit {
        font-size: 13px;
        line-height: 16px;
    }
}
