.promo {
        background-color: #073042;
        min-width: 320px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }


@media screen and (min-width: 768px) {
    .promo {
        background-color: #073042;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
    }
}

    .promo__group {
        min-width: 284px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 60px;
    }


@media screen and (min-width: 768px) {
    .promo__group {
        min-width: 668px;
        padding-top: 46px;
    }
}


@media screen and (min-width: 1280px) {
.promo__group {
    min-width: 1140px;
    flex-direction: initial;
    margin-top: 33px;
    align-items: start;
}
}

    .promo__logo {
        width: 210px;
    }

@media screen and (min-width: 768px) {
    .promo__logo {
        width: 310px;
    }
}


.promo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 1280px) {
    .promo__container {
        margin-right: 190px;
        align-items: start;
    }
}

    .promo__title {
        margin: 53px 0 -27px 0;
        width: 284px;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
    }


@media screen and (min-width: 768px) {
    .promo__title {
        margin: 44px 0 -27px 0;
        width: 668px;
        font-size: 40px;
        line-height: 56px;
        text-align: center;
    }
}
@media screen and (min-width: 1280px) {
    .promo__title {
        width: 640px;
        font-size: 50px;
        line-height: 57px;
        text-align: start;
        align-items: start;
        height: 174px;
        margin: 0;

    }
}

    .promo__subtitle {
        width: 260px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        opacity: 0.5;
        margin-top: 51px;
        margin-bottom: 80px;
        text-align: center;
    }

@media screen and (min-width: 768px) {
    .promo__subtitle {
        width: 260px;
        margin-top: 40px;
        margin-bottom: 95px;
    }
}

@media screen and (min-width: 1280px) {
    .promo__subtitle {
        width: 310px;
        margin-top: 36px;
        margin-bottom: 144px;
        text-align: start;
        align-items: start;
    }
}
