.promo {
    background-color: #073042;
    min-width: 1280px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.promo__group {
    display: flex;
}
.promo__logo {
 width: 310px;
}

.promo__container {
    margin-right: 190px;
    margin-top: 75px;
}

.promo__title {
    width: 639px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
}

.promo__subtitle {
    width: 310px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    opacity: 0.5;
    margin-top: 36px;
    margin-bottom: 146px;
}
