.search-form {
    min-width: 320px;
    margin-top: 81px;
}

@media screen and (min-width: 768px) {
    .search-form {
        margin-top: 79px;
    }
}

@media screen and (min-width: 1280px) {
    .search-form {
        margin-top: 74px;
    }
}

.search-form__container {
    max-width: 292px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: #424242 solid 1px;
}

@media screen and (min-width: 768px) {
    .search-form__container {
        max-width: 708px;
    }
}

@media screen and (min-width: 1280px) {
    .search-form__container {
        max-width: 1140px;
    }
}


.search-form__input {
    width: 240px;
    background-color: #202020;
    border: 0;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .search-form__input {
        width: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .search-form__input {
        width: 1080px;
    }
}

.search-form__button {
    outline: none;
    width: 36px;
    height: 34px;
    background-color: #4285F4;
    background-image: url("../../../src/images/LUPA_COLOR_invisible.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 0;
    transition: opacity 0.6s linear 0.3s;
    cursor: pointer;
}

/*.search-form__button:hover {*/
/*    opacity:60%;*/
/*}*/



.search-form__input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #8B8B8B;
}

@media screen and (min-width: 768px) {
    .search-form__input::placeholder {
        font-size: 28px;
        line-height: 34px;
    }
}
