.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    background-color: #073042;
}

@media screen and (min-width: 768px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        min-width: 1024px;
    }
}

.header__group {
    height: 74px;
    min-width: 284px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px red;
}


@media screen and (min-width: 768px) {
    .header__group {
        min-width: 668px;
    }
}


@media screen and (min-width: 1280px) {
    .header__group {
        min-width: 1140px;
    }
}


.header__container {
    display: flex;
}

.header__button {
    width: 54px;
    height: 19px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
    font-size: 12px;
    text-align: center;
    padding-top: 7px;
    border-radius: 3px;
    font-family: "Inter", Arial, sans-serif;
}


@media screen and (min-width: 768px) {
    .header__button {
        width: 76px;
        height: 25px;
        margin-left: 30px;
        font-size: 12px;
        padding-top: 10px;
    }
}

.header__button-active {
    background-color: #3DDC84;
    color: black;
}

.header__button:first-of-type {
    margin-left: 0;
}


