.techs {
    min-width: 320px;
    margin-bottom: 100px;
}

.techs__header-title {
    margin: 40px 0 0 0;
}

@media screen and (min-width: 768px) {
    .techs__header-title {
        margin: 80px 0 0 0;
    }
}

@media screen and (min-width: 1280px) {
    .techs__header-title {
        margin: 107px 0 0 0;
    }
}

.techs__title {
    border-top: #000000 1px solid;
    margin-bottom: 10px;
    padding: 56px 0 0 0;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.04em;
    font-weight: normal;
}

@media screen and (min-width: 768px) {
    .techs__title {
        border-top: #DADADA 1px solid;
        font-size: 50px;
        line-height: 58px;
        padding: 80px 0 0 0;
        margin: 23px 0 0 0;
    }
}

@media screen and (min-width: 1280px) {
    .techs__title {
        padding: 87px 0 0 0;
    }
}


.techs__subtitle {
    margin: 24px 0 0 0;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
    .techs__subtitle {
        font-size: 12px;
        line-height: 18px;
        width: 457px;
        margin: 22px auto;
    }
}

@media screen and (min-width: 1280px) {
    .techs__subtitle {
        font-size: 14px;
        line-height: 25px;
    }
}


.techs__box {
    display: grid;
    grid-template-columns: repeat(2, 83px);
    list-style-type: none;
    padding: 0;
    margin: 49px 0 41px 0;
    justify-content: center;
    gap: 10px;
}

@media screen and (min-width: 768px) {
    .techs__box {
        grid-template-columns: repeat(7, 83px);
        margin: 83px 0 70px 0;
    }
}

@media screen and (min-width: 1280px) {
    .techs__box {
        grid-template-columns: repeat(7, 90px);
        margin: 97px 0 70px 0;
    }
}

.techs__list {
    height: 36px;
    background-color: #303030;
    border-radius: 10px;
    text-align: center;
    padding-top: 21px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
}
